[submodule "hr"]
	path = hr
	url = git@github.com:OCA/hr.git
	branch = 13.0
[submodule "project"]
	path = project
	url = https://github.com/OCA/project.git
[submodule "crm"]
	path = crm
	url = https://github.com/OCA/crm.git
[submodule "knowledge"]
	path = knowledge
	url = https://github.com/OCA/knowledge.git
	branch = 13.0
